.App {
  text-align: center;
  background-color: gold;
}

.p {
  color: gold;
}

.Home-Image {
  height: 40vmin;
  pointer-events: none;
  max-width: 100%; /* Ensure the image doesn’t overflow its container */
  height: auto; /* Maintain aspect ratio */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: backwards infinite 20s linear;
  }
}

.App-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.products {
  margin: 60px;
  margin-bottom: 30px;
  padding-top: 60px;
}

.product {
  margin-bottom: 40px; 
}

.button {
  margin-top: 15px; 
  padding: 10px 20px;
  border: none;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
  background-color: red; 
  color: white;
}

.cart-summary {
  font-weight: light;
}

.Footer {
  margin-top: 40px;
}

/* Media Query for Responsive Design */
@media screen and (max-width: 600px) {
  .Home-Image {
    height: auto;
    width: 100%; 
    max-width: 100%; 
  }

  .App-header {
    font-size: calc(8px + 2vmin); 
  }

  .products {
    margin: 30px; /* Reduce margins for smaller screens */
    padding-top: 30px;
  }

  .button {
    padding: 8px 16px; /* Adjust button padding for smaller screens */
  }

  .Footer {
    margin-top: 20px; /* Adjust footer margin for smaller screens */
  }
}
